.preview-card {
	display: flex;
	flex-flow: column;
	justify-content: center;
	max-width: 80%;
	max-height: 80%;
}

.cb-preview { 
	max-height: 70vh;
	max-width: 90vw;
	border-radius: 10px;
}

.btns-wrapper {
	margin: 5px auto 5px auto;
}